.main {
  background-color: yellowgreen;
  color: black;
  margin-top: 55px;
}

footer {
  background-color: yellow;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-adress-icon {
  padding-right: 10px;
}
